fieldset {
    width: 50px;
}
h2 {
    font-size: 25px;
}
label.field {
    text-align: right;
    width: 10px;
}
input.textbox-300{
    width: 300px;

}

mark{
    background-color: white;
    color:red;
}